@import url("./fonts/index.font.css");
@import url("./colors.css");
:root {
    --app-background-color: var(--black-10);
    --app-font-size: 1.125rem;
    --app-font-weight: 400;
    --app-font-family: var(--century-gothic-font);
}
