@font-face {
  font-family: "Century Gothic";
  src: url("../../../public/fonts/CenturyGothic/centurygothic.ttf");
}
@font-face {
  font-family: "Century Gothic";
  src: url("../../../public/fonts/CenturyGothic/centurygothic_bold.ttf");
  font-weight: 700;
}

:root {
  --century-gothic-font: "Century Gothic";
}
