@import url("./variables.css");
* {
     list-style: none;
     margin: 0;

     border: none;

     padding: 0;

     box-sizing: border-box;

     background: transparent;

     font-family: var(--app-font-family);
     font-size: var(--app-font-size);
     text-decoration: none;
     color: var(--white-100);
}

a,
button,
input[type="submit"] {
     cursor: pointer;
}

img {
     user-drag: none;
     -webkit-user-drag: none;
     user-select: none;
     -moz-user-select: none;
     -webkit-user-select: none;
     -ms-user-select: none;
}

html,
body {
     min-height: 100%;

     background-color: var(--app-background-color);
}
